*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}
/* Nav css start  */
nav{
    background: greenyellow;
    height: 7vh;
    display: flex;
    align-items: center;
}
.brandLogo h2{
    font-family: 'Italiana', serif;
}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navLinks{
    background: greenyellow;
    display: flex;
    align-items: center;
}
.navLinks ul li{
    display: inline;
    list-style-type: none;
}
.navLinks li a:hover{
    background: #333;
    color: #fff;
    transition: 0.5s;
}
.navLinks a{
    font-family: 'Italiana', serif;
    text-decoration: none;
    padding: 10px 30px;
    color: #333;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;
    transition: 0.5s;
    
}
.active{
    background: #151515;
    color: #fff!important;
}
/* hero section start  */
#hero{
    height: 93vh;
    background: #151515;
    display: flex;
    align-items: center;
}
#hero h2{
    color: #fff;
    font-size: 65px;
    text-transform: capitalize;
    font-family: 'Italiana', serif;
}
#hero h4{
    font-size: 25px;
    color: yellowgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px 0;
    font-weight: 300;
}